<h2>Alien Invasion</h2>
<img src = "images/alieninvasion.gif"  class = "carousel-pic "alt = "ALien" width = "840" height = "499.8">
<p class = 'carousel-paragraph2'>
    Alien Invasion was made by a team of 5 students including myself, Alfredo Cuevas, Dustin Halsey, Joshua Clouse 
    and Salvador Galindo. The framework that was used to create this game was a JavaScript library called Phaser. 
    In addition to game programming, this project also helped to get me aquainted with programming for the web. 
    I had to get familiar with localhost servers, objects/prototypes in JavaScript as well as some HTML. 
    The game was made for a set of classes called CMPM 120 and ARTG 120. CMPM 120 focused on the programming side of the 
    project while ARTG 120 focused on the design aspects. Alien Invasion is a fast-paced top-down shooter which was 
    made as a satire of President Trump's imigration policy. During the construction of this game, I took on the role of 
    lead programmer. Among other things, I built the shooting mechanics, all enemy AI, the pseudo-random enemy spawn system, the random helicopter spawns, all particle systems, the upgrade system, the greencard/score system, the room-barriers, design of levels 2 and 4, text tutorials and some sound design. I am particularly proud of this game because I feel that it is a large step up from A Quest for Love. In addition, I think that I did a great job in a leadership position as the primary programmer.
</p>
<div class = "row">
   <div class="col-sm-6" id = 'alien-invasion-play'>
       <button class = "btn btn-default" type = "button" id = "alien-button-right"
                ng-click="playAlienInvasion()">Play the Game</button> 
   </div>
   <div class="col-sm-6" id = 'alien-invasion-github'>
       <button class = "btn btn-default" type = "button" id = "alien-button-left"
                ng-click="alienInvasionGithub()">View on GitHub</button> 
   </div>
</div>