<h2>A Quest for Love</h2>
<img src = "images/questknight.png"  class = "carousel-pic "alt = "Knight" width = "600" height = "600"> 
<p class = 'carousel-paragraph'>
	I made this with my partner Alfredo Cuevas in a class called CMPM 80K: Foundations of Interactive Game Design.
	In this project, I did most of the core programming while my partner focused more on the art assets and room layouts.
	A Quest for Love is a game in which the player takes control of a Camelot knight who is transported forward in time to a
	modern day shopping mall. In the game, the player must explore, converse and fight in order to find Camelot's missing princess.
	This game is special to me because it was the first game that I ever made. It was all created in GameMaker in the span of one month. Due to the time constraints, some of the code is a little but sloppy, but nevertheless, I am proud of the result.
</p>