<div class = "container-fluid">
	<h2 class="text-center">About Me</h2>
	<br>
	<img src = "images/austinpic.jpg" class = "img-circle" alt = "Austin" style="width:25%; height:25%;"> 
	<br><br>
	<p class="bio">
		My name is Austin Kellar. I am currently a third year Computer Science: Game Design major at UC Santa Cruz.
		I have focused my coursework primarily on programming, though I have taken a fair number
		of game design specific classes. I am very proud of the work that I have completed here at
		school, so I created this site to showcase some of my favorite projects.
	</p>
</div>