<h2 class="text-center" style="margin-bottom:40px;">Coursework</h2>

<div class="row">
	<div class="left-list">
		<h4 class="text-center" style="text-decoration:underline;">Programming:</h4>
		<ul>
			<li>CMPS 101: Abstract Data Types</li>
			<li>CMPS 109: Advanced Programming (C++)</li>
			<li>CMPS 180: Database Systems</li>
			<li>CMPS 128: Distributed Systems</li>
			<li>CMPS 183: Web Applications</li>
		</ul>
	</div>
	<div class="right-list">
		<h4 class="text-center" style="text-decoration:underline;">Game Design:</h4>
		<ul>
			<li>ARTG 80G: Visual Communication and Interaction Design</li>
			<li>CMPM 80K: Foundations of Game Design</li>
			<li>ARTG 120: Game Design Experience</li>
			<li>CMPM 120: Game Development Experience</li>
			<li>ARTG 80H: History of Digital Games</li>
		</ul>
	</div>
</div>


