<div class="row"> 
	<ul id="footer">
		<div class=col-sm-4></div>
		<div class="col-sm-1"><li><img src="images/facebook.png" ng-click="facebook()" height="50" width="50"></li></div>
		<div class="col-sm-1"><li><img src="images/github.png" ng-click="github()" height="50" width="50"></li></div>
		<div class="col-sm-1"><li><img src="images/linked.png" ng-click="linkedin()" height="50" width="50"></li></div>
		<div class="col-sm-1"><li><img src="images/itch.png" ng-click="itch()" height="50" width="50"></li></div>
		<div class="col-sm-4"></div>
	</ul>
</div>
