<h2>Hex Game with Advanced AI</h2>
<img src = "images/hex.png" class="carousel-pic" style="width:60%; height:60%">
<p class = 'carousel-paragraph'>
        This is a project that I completed in a class called CMPS 109: Advanced Programming (C++). For this 
        assignment, I had to create the game of Hex (played on the command line) with an difficult to beat AI. In the game 
        of Hex, there are two players, the Red player and the Blue player. Red is trying to make a connected line 
        from the north end of the board to the south end, while Blue is trying to make a line from east to west. 
        The method I employed while creating the AI is called the Monte Carlo technique. Each turn the AI makes, it calculates the probability that it will win if it plays in each open square on the board. This is accomplished by playing out the rest of the game randomly 1500 times and recording the number of wins versus losses for the AI. I'd say the project was a success, as I am unable to beat the AI that I created.
</p>
<div class = "row">
       <button class="btn btn-default" type="button" id="red-btn" ng-click="hexGithub()" style="margin:auto;display:block;">View on GitHub</button> 
</div>