<!DOCTYPE html>
<html lang = "en" ng-app="app">
<head>
	<title>Austin Kellar</title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="mainController">
	<div class = "about-bg">
		<div class = "container-fluid text-center">
			<h2>About Me</h2>
			<br>
			<img src = "austinpic.jpg" class = "img-circle" alt = "Austin" width = "300" height = "300"> 
			<br><br>
			<h4>I am a third year Computer Game Design student at UCSC.</h4>
			<h4>Currently, I am also an IS Intern at ZPower, a battery company based in Camarillo, California.</h4>
			<h4>In my free time I love to exercise, play video games and of course, program.</h4>
			<h4>I have enjoyed all of my programming experience, but my favorite projects have been games</h4>
		</div>
	</div>

	<div class = "projects-bg">
		<div class = "container-fluid text-center">
			<h2>My Projects</h2>
			<br>
			<h4>These are the projects which I am most proud of.</h4>
			<h4>All of them were completed as school projects, meaning I was able to dedicate a lot of my time to them</h4>
			<br><br>
			<div id = "myCarousel" class = "carousel slide text-center" data-ride = "carosel">

				<!-- Wrapper for slides -->
    			<div class="carousel-inner" role="listbox">
      				<div class="item active">
        				<h2>A Quest for Love</h2>
        				<img src = "questknight.png"  class = "carousel-pic "alt = "Knight" width = "600" height = "600"> 
        				<p class = 'carousel-paragraph'>I made this with my partner Alfredo Cuevas in a class called CMPM 80K: Foundations of Interactive Game Design.
        				   In this project, I did most of the core programming while my partner focused more on the art assets and room layouts.
        				   A Quest for Love is a game in which the player takes control of a Camelot knight who is transported forward in time to a
        				   modern day shopping mall. In the game, the player must explore, converse and fight in order to find Camelot's missing princess.
        				   This game is special to me because it was the first game that I ever made. It was all created in GameMaker in the span of one month.
        				   Due to the time constraints, some of the code is a little but sloppy, but nevertheless, I am proud of the result.</p>
      				</div>
      				<div class="item">
        				<h2>Alien Invasion</h2>
        				<img src = "alieninvasion.gif"  class = "carousel-pic "alt = "ALien" width = "840" height = "499.8">
        				<p class = 'carousel-paragraph2'>Alien Invasion was made by a team of 5 students including myself, Alfredo Cuevas, Dustin Halsey, Joshua Clouse and Salvador Galindo. The
        				   framework that was used to create this game was a JavaScript library called Phaser. In addition to game programming, this project also
        				   helped to get me aquainted with programming for the web. I had to get familiar with localhost servers, objects in JavaScript as well as
        				   some HTML. The game was made for a set of classes called CMPM 120 and ARTG 120. CMPM 120 focused on the programming side of the project
        				   while ARTG 120 focused on the design aspects. Alien Invasion is a fast-paced top-down shooter which was made as a satire of
        				   President Trump's imigration policy. During the construction of this game, I took on the role of lead programmer.
        				   Among other things, I built the shooting mechanics, all enemy AI, the pseudo-random enemy spawn system, the random helicopter spawns,
        				   all particle systems, the upgrade system, the greencard/score system, the room-barriers, design of levels 2 and 4, text tutorials
        				   and some sound design. I am particularly proud of this game because I feel that it is a large step up from A Quest for Love.
        				   In addition, I think that I did a great job in a leadership position as the primary programmer.</p>
        				   <div class = "row">
        				       <div class="col-sm-6" id = 'alien-invasion-play'>
        				           <button class = "btn btn-default" type = "button" id = "alien-button-right"
                                            ng-click="playAlienInvasion()">Play the Game</button> 
        				       </div>
        				       <div class="col-sm-6" id = 'alien-invasion-github'>
        				           <button class = "btn btn-default" type = "button" id = "alien-button-left"
                                            ng-click="alienInvasionGithub()">View on GitHub</button> 
        				       </div>
        				   </div>
      				</div>
      				<div class="item">
        				<h2>Java Sparce Matrix ADT</h2>
        				<img src = "matrix.png"  class = "carousel-pic "alt = "Matrix" width = "738" height = "427">
        				<p class = 'carousel-paragraph2'>This is a project that I completed in a class called CMPS 101: Algorithms and Abstract Data Types. For this assignment,
        				   I had to construct a List ADT out of a doubley linked list data structure which stores a list of Entry objects while keeping track of a "cursor". 
        				   All insertions and deletions from the list are made relative to this "cursor". The Entry objects which make up the contents of the List contain the
        				   row number, column number and value of each matrix entry. Once the List ADT was fully functioning, I had to make a
        				   Sparce Matrix ADT out of it. In this class, matrices are constructed out of arrays of List objects, where each List represents one row of the matrix.
        				   The extra catch which made the project difficult was that all matrices had to be kept <span><i>sparce</i></span> at all times, meaning that any
        				   zero entries were not to be physically stored in memory, but the Matrix ADT still had to keep track of where those entries were. Once the basics of
        				   creating this representation of a sparce matrix were under control, I wrote methods to add, subtract, transpose, dot-product, multiply 
        				   and scalar-multiply the matricies. Finally, once the Matrix class was completed, I had to write a program which constructed matrices based on an input file,
        				   perform many of the mathematical operations built into the ADT, then print the output to an output file. Projects such as these were fun and helped me to
        				   better understand object-oriented programming.</p>
      				</div>
    			</div>

    			<!-- Indicators -->
				<ol class = "carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      				<li data-target="#myCarousel" data-slide-to="1"></li>
      				<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

    			<!-- Left and right controls -->
    			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      			<span class="sr-only">Previous</span>
    			</a>
    			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      			<span class="sr-only">Next</span>
    			</a>
			</div>
		</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="controllers/controller.js"></script>
</body>
</html>